@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Joan&family=Kdam+Thmor+Pro&family=Koulen&family=Titillium+Web&family=Tourney&display=swap");
:root {
	--main-color: #18d2cf;
	--text-color: #d7d7d7;
	--text-inverse: #252525;
}
::selection {
	color: white;
	background: var(--main-color);
}
head,
body {
	scroll-behavior: smooth;
	margin: 0px;
	height: 100%;
	background-color: var(--text-inverse);
	color: var(--text-color);
	font-family: "titillium web", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
	user-select: none;
}
nav {
	display: flex;
	position: fixed;
	width: 100%;
	height: 6vw;
	z-index: 1000;
	background: var(--text-inverse);
	box-shadow: #000000c3 0 7px 7px;
	transition: color 0.5s ease-in-out;
	border-radius: 0 0 1vw 1vw;
}
nav:hover {
	color: var(--text-color);
	background: var(--text-inverse);
	background: linear-gradient(
		135deg,
		var(--text-inverse) 77.5%,
		var(--main-color) 78%,
		var(--text-inverse) 78.5%
	);
	background-size: 300%;
	animation: nav-gradient 15s infinite;
}
@keyframes nav-gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 120% 50%;
	}
}
nav:hover img {
	filter: grayscale(0%);
}
nav img {
	width: 6vw;
	filter: grayscale(100%);
	transition: all 0.5s ease-in-out;
	margin-left: 0.3vw;
}
nav > .pages {
	display: flex;
	margin-top: 1.2vw;
	margin-left: auto;
	margin-right: 1vw;
}
nav > .pages .material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 0, "opsz" 48;
	font-size: 3vw;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	margin-left: 0.2vw;
	margin-bottom: 0.2vw;
	padding: 0.5vw;
}
nav > .pages .material-symbols-outlined:hover {
	font-variation-settings: "FILL" 1, "wght" 250, "GRAD" 0, "opsz" 48;
	color: var(--main-color);
	background-color: #353535;
	border-radius: 25%;
	transition: all 0.5s ease-in-out;
}
nav > .pages .material-symbols-outlined:active {
	color: var(--text-color);
	background-color: #01938756;
	transition: all 5ms ease-in-out;
}
nav > .pages #activated {
	color: #019387;
}
nav:hover > .pages #activated {
	color: var(--main-color);
}
span.hover-info {
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	filter: opacity(0%);
	background-color: var(--text-inverse);
	height: 2vw;
	transition: all 0.5s ease-in-out;
	margin-left: -2vw;
	margin-right: auto;
	margin-top: 1.5vh;
	font-size: 1.2vw;
	border-radius: 0.5vw;
	color: var(--text-color);
	border: var(--main-color) solid 1px;
	cursor: none;
	padding: 0 1vw;
}
span.hover-info:hover {
	display: none;
}
nav > .pages .material-symbols-outlined:hover > span.hover-info {
	font-family: "titillium web", sans-serif;
	display: flex;
	filter: opacity(100%);
}
#nav-name {
	font-family: "bebas neue", sans-serif;
	font-size: 3vw;
	letter-spacing: 1.5px;
	margin-top: 1.2vw;
	transition: all 0.5s ease-in-out;
	margin-left: 0.5vw;
}
nav:hover #nav-name {
	margin-left: 1vw;
	color: var(--main-color);
}
nav #nav-name::after {
	content: " | jis";
	color: var(--text-color);
	visibility: hidden;
	transition: all 0.5s ease-in-out;
	filter: opacity(0);
}
nav:hover #nav-name::after {
	color: var(--main-color);
	visibility: visible;
	filter: opacity(100);
}
#sign-opts {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sign-button {
	background-color: #202020;
	padding: 1vw;
	border-radius: 1vw;
	border: var(--main-color) 1px solid;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.sign-button:hover {
	box-sizing: border-box;
	background-color: var(--main-color);
	color: var(--text-inverse);
}
.sign-button:nth-child(2) {
	margin-left: 1vw;
}
.form {
	display: flex;
}
form {
	font-family: "bebas neue", sans-serif;
	font-size: 3vw;
	width: 94vw;
	margin: 0 3vw;
}
legend {
	font-family: "bebas neue", sans-serif;
	letter-spacing: 1px;
	font-size: 5vw;
	color: #06d0cb;
}
.nav-resistance {
	height: 8vw;
}
.home-1 {
	width: 100%;
	height: 100vh;
	background: rgb(226, 63, 63);
	background: linear-gradient(
		90deg,
		rgb(29, 29, 29) 10%,
		#42a09f 40%,
		#42a09f 60%,
		rgb(29, 29, 29) 80%
	);
	background-size: 500%;
	filter: contrast(1);
	animation: wallpaper 50s infinite linear;
}
@keyframes wallpaper {
	to {
		background-position: 300%;
	}
}
input,
select {
	justify-content: center;
	font-size: 2.3vw;
	padding: 1vw;
	background-color: var(--text-inverse);
	color: var(--main-color);
	border-radius: 0.5vw;
	transition: all 0.5s ease-in-out;
	box-sizing: border-box;
	user-select: none;
	width: 90%;
	font-family: "titillium web", sans-serif;
}
input:focus,
select:focus {
	color: var(--text-color);
	border: var(--text-color) solid 0.3vw;
}
input:hover,
select:hover {
	transform: scale(1.05);
	box-shadow: #000000 2px 2px 2px;
	margin: 0.5vw 2vw;
}
.pattern {
	position: absolute;
	z-index: -1;
}
path:nth-child(2n-1) {
	fill: #bcbcbc16;
}
path:nth-child(2n) {
	fill: #d7d7d716;
}
.home-title {
	font-family: "koulen", sans-serif;
	font-size: 10vw;
	margin-left: 5vw;
	letter-spacing: -1px;
	transition: all 0.7s ease-in-out;
	z-index: 100;
	width: fit-content;
}
.home-title:hover {
	color: #d7d7d7a7;
	filter: drop-shadow(var(--text-inverse) 4px 4px 4px);
	transform: translateY(-10px);
}
.home-title:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1vw;
	top: 15vw;
	bottom: 0;
	left: 0;
	background-color: #3aaeac9d;
	transform-origin: bottom right;
	transition: transform 0.4s ease-out;
}

.home-title:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.button-holder {
	position: absolute;
	top: 80;
	display: grid;
	grid-template-rows: 50% 50%;
	row-gap: 2vw;
	margin-left: 70vw;
	margin-right: 5vw;
	margin-top: 5vw;
}
.home-but {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5vw 3vw;
	font-size: 2.3vw;
	transition: all 0.7s ease-in-out;
	border-radius: 1vw;
	cursor: pointer;
	box-sizing: border-box;
}
.home-but:hover {
	color: #d7d7d7a7;
	filter: drop-shadow(var(--text-inverse) 4px 4px 4px);
	transform: translateY(-10px);
}
.home-but:nth-child(n):hover {
	background-color: #ffffff24;
	color: #d7d7d7;
}
.home-but:nth-child(1) {
	background-color: white;
	color: var(--text-inverse);
}
.home-but:nth-child(2) {
	background-color: white;
	color: var(--text-inverse);
}
.button-holder .material-symbols-outlined {
	font-size: 3vw;
	margin-right: 1vw;
}
